html, body{
    background-color: #204051;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
input{
    font-family: sans-serif;
    color:rgb(15, 71, 156);
    height: 30px;
    width: 200px;
    background-color:rgb(247, 220, 72);
    font-size: 21px;
}

label{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    color: #10FFFC;
    font-size: 20px;
    margin-right: 5px;
    margin-bottom: 2px;
}
.card {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 320px;
    height: 400px;
    border: 3px solid rgb(1, 224, 240);
    border-radius: 15%;
    box-shadow: 7px 5px 10px 5px #10FFFC;
    background: linear-gradient(to right, #2C5364, #203A43); 
    
}

#header{
    color: rgba(255, 217, 0, 0.856);
    margin-top: -250px;
    font-size: 30px;
    font-family: sans-serif;
}
.currency-wrapper{
    position: absolute;
     top: 50%;
    left: 50%;
    transform: translate(-50%, -50%)
}